
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container" action="post">
    <h3>Thông tin sản phẩm</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>NameProduct</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NameProduct</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
    

</div>

