@model List<Product>
<h2>Danh sách sản phẩm</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>
                    <a href="@Url.Action("Details", "Product", new { id = item.Id })">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
